#square {
	margin:5px;
}

.rounded {
	border-radius: 10px;
}

#padding {
	padding: 10px;
	margin-bottom: 10px;
	padding-left:0px;
}

#pagepad {
	padding:20px;
}

body {
	font-family: 'Roboto', serif;
}

a  {
	text-decoration: none;
}

h1	{
	font-size: 50px;
}

h2	{
	color: grey;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: grey;
}